body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("asset/mainScreenShot.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }

  table {
    margin: 0px;
    border-collapse: collapse;
    width: 100%;
    font-family: 'Assistant';
  }
  .content {
    height: fit-content;
    background-color: rgb(211, 211, 215);
  }
  .frame {
    text-align: center;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .col-container {
    display: table;
    width: 100%;
    height: 600px;
    position: relative;
  }
  .col {
    display: table-cell;
    padding: 0px;
  }

  .footer {
    padding: 20px;
    text-align: center;
    background: #000000;
  }

  .col img {
    vertical-align: middle;
  }

  .col .contentf {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
